.root {
    -fx-background-color: #121212;
}

.title-label {
    -fx-font-size: 26px;
    -fx-text-fill: #ecf0f1;
    -fx-font-weight: bold;
}

.info-label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.reset-button {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 20;
    -fx-background-radius: 6;
}
